#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog-item {
  flex: 1 45%;
  width: 300px;
  height: 220px;
  border: 1px solid rgba(128, 128, 128, 0.233);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  background-color: #163f3f;
}

.catalog-item-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.catalog-item-img {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-item-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.catalog-item-price {
  font-size: 16px;
  color: #2ae424;
  margin: 10px;
}

.catalog-item button {
  padding: 10px 15px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.catalog-item-buy-now {
  background-color: #1fd328;
  color: #fff;
}

.catalog-item-add-to-chart {
  background-color: #3498db;
  color: #fff;
}
